

<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)" style="position: fixed; bottom: 70px">
    <md-icon>add</md-icon>
</md-button>

<div >
    <div class="inset" hide-xs hide-sm></div>
    <div layout="row" layout-align="center begin" layout-fill >
        <md-input-container class="md-block search-input" flex-gt-sm="60" flex-xs="90" flex-sm="80" >
            <label>Search for Code</label>
            <input ng-model="vm.query">
        </md-input-container>
        <md-button ng-click="vm.searchCode(vm.query)" class="md-icon-button" style="margin-top:15px;">
            <md-icon style="font-size:2em;">search</md-icon>
        </md-button>
    </div>
</div>

<md-content flex md-scroll-y layout="row" class="md-default-theme" layout-align="center center" >
    <div flex-gt-sm="85" flex-xs="100" flex-sm="90" layout-fill>

        <md-card ng-repeat="result in vm.searchResult.results">
            <md-card-header>
                <md-card-header-text class="md-title">
                    <md-button href="{{result.url}}" target="_blank">{{result.name}}</md-button>
                </md-card-header-text>

            </md-card-header>

            <md-card-content style="padding:2px 10px">
                <pre class="prettyprint" ng-bind="result.linesString" style="padding:10px">

                </pre>
            </md-card-content>
            <md-card-footer style="padding:2px 10px 10px 10px" >
                <div layout="row" layout-align="space-between center">
                    <span class="md-caption" > {{result.language}}</span>
                    <span class="md-caption" > 05/03/2016</span>
                </div>
            </md-card-footer>
        </md-card>


    </div>

</md-content>
