@font-face {
    font-family: 'AmaticBold';
    src: url('/content/fonts/Amatic-Bold.ttf')  format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'clacon';
    src: url('/content/fonts/clacon.ttf')  format('truetype');
    font-weight: bold;
}

.st-about-display {
    position:absolute;
    font-family: AmaticBold, monospace;
    font-weight: bold;
    line-height:1em;
    color:white;
    h1 {
        font-size: 70px;
    }
    h2 {
        font-family:clacon;
        color: #00FF00;
        font-size: 40px;
    }
    @media screen and (max-width: 600px ) {
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 20px;
        }
    }
}

.st-social-networks {
    padding-bottom: 20px;
    h2 {
        font-family: AmaticBold, monospace;
        font-size: 30px;
    }
    @media screen and (min-width: 600px ) {
        .md-icon-button {
            width: 100px;
            height: 100px;
        }
        md-icon {
            width: 70px;
            height: 70px;
            font-size: 70px
        }
        a {
            margin: 10px
        }
    }
}

.st-skills-frame {
    padding: 20px;
    margin: 10px;
    img {
        width:150px;
        padding:5px;
    }
}

.main-container {
    position: absolute;
    padding-bottom:7px;
    bottom: 0;
    top:60px;
    right:0;
    left:0;
}


/*** Tweaked code prettify Style based on Desert ***/

/* desert scheme ported from vim to google prettify */
pre.prettyprint {  overflow: auto; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
    pre.prettyprint { background-color: none }
    pre .str, code .str { color: #060 }
    pre .kwd, code .kwd { color: #006; font-weight: bold }
    pre .com, code .com { color: #600; font-style: italic }
    pre .typ, code .typ { color: #404; font-weight: bold }
    pre .lit, code .lit { color: #044 }
    pre .pun, code .pun { color: #440 }
    pre .pln, code .pln { color: #000 }
    pre .tag, code .tag { color: #006; font-weight: bold }
    pre .atn, code .atn { color: #404 }
    pre .atv, code .atv { color: #060 }
}

@media screen and (max-width: 600px ) {
    pre.prettyprint { font-size: 7px;}
    ol.linenums { padding-left: 4px; }

    .markdown-container {
        img {
            max-width: 350px;
        }
    }

}




$gray: #efefef;

md-content.md-default-theme {
    background-color: $gray;
}

md-toolbar.main-toolbar {
    position:fixed;
}

md-tabs.toolbar-tabs {
    width:380px;
}
md-input-container.search-input {
    font-size:1.4em;
    margin-bottom: -2px;
}

img.logo {
    height:58px;
}

