<div>
    <h2 hide-xs layout="row" layout-align="center center"  translate="blog.title">Softtopia Blog</h2>
    <md-content flex md-scroll-y layout="row" class="md-default-theme" layout-align="center center" >
        <div flex-gt-sm="85" flex-xs="100" flex-sm="90" layout-fill>

            <md-card  ng-repeat="blog in vm.blogs">

                <md-card-header>
                    <md-card-header-text >
                        <div layout="row" layout-align="space-between center">
                            <span class="md-title">{{blog.meta.title}}</span>
                        </div>
                        <div layout="row" layout-align="start" >
                            <span class="md-subhead"  style="padding-right: 15px;"> {{blog.meta.date}}</span>
                            <span class="md-primary"><md-icon style="color: #aed581;">label_outline</md-icon></span>
                            <span class="md-subhead"  > {{blog.meta.tags || 'no-tags'}}</span>
                        </div>
                    </md-card-header-text>

                </md-card-header>
                <md-card-content style="padding:2px 15px 6px 15px; ">
                    <span class="md-body-1" ng-bind-html="blog.meta.description"></span>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="vm.showBlog(blog)" class="md-primary">Read</md-button>
                    </md-card-actions>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>
