<div>
    <h2 hide-xs layout="row" layout-align="center center"  translate="blog.title">Softtopia Blog</h2>
    <md-content flex md-scroll-y class="md-default-theme" layout-align="center center" >
        <div layout="row" layout-wrap="" layout-align="center center" >

            <md-card flex-gt-xs="45" flex-gt-md="30" ng-repeat="blog in vm.blogs track by $index">
                <img ng-click="vm.showBlog(blog)" class="blog-header-image" ng-src="{{blog.meta.imagePath}}" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text >
                        <div layout="row" layout-align="space-between center">
                            <span class="md-headline">{{blog.meta.title}}</span>
                        </div>
                        <div layout="row" layout-align="start" >
                            <span class="md-subhead"  style="padding-right: 5px;font-weight: 600;color:#666666"> {{blog.meta.date}}</span>
                            <span class="md-primary"><md-icon style="color: #aed581;padding-top:12px">label</md-icon></span>
                            <span class="md-subhead"  > {{blog.meta.tags || 'no-tags'}}</span>
                        </div>
                    </md-card-title-text>

                </md-card-title>
                <md-card-content style="padding:2px 15px 6px 15px; ">
                    <span class="md-body-1" ng-bind-html="blog.meta.description"></span>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="vm.showBlog(blog)" class="md-primary" translate="blog.readMore">Read more</md-button>
                    </md-card-actions>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>
